<h1>Hey Actors</h1>

<ul>
<% actors_names.each do |actor| %>
<li><a href="/actors/<%= actor['name'] %>"><%= actor['name'] %></a></li>
<% end %>
</ul>

<div class="row">
  <div class="columns small-4 small-offset-2">
    <h6>Awesome Thing #1</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
      mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
      turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
      luctus vitae ultricies sed, congue sit amet tellus.
    </p>
  </div>
